body {

    color: darkgray;
    background: darkslategrey;
margin: 0%;
font-size: 20;
}

body {


    .faculty-glyphic-regular {
        font-family: "Faculty Glyphic", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
}


header {
    border-bottom: solid 1px darkseagreen
}

header {

font-size: 45;


color: darkseagreen;
    
    padding: 40px;

}

.chamada {

background-color: rgb(9,9,9);

padding-bottom: 80;
padding-top: 30;
display: flex;
justify-content: center;
padding-left: 20px;
}

div {

margin-right: 10% 

}

img { 

height: 310px;

}

.categoria-videos {
display: flex;
overflow-y: auto;
gap: 15px;
}

.categoria {
padding-left: 30px;
padding-right: 30px;
}

.categoria-videos img {
    opacity:0.5;
}


.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid yellow;
}
